body {
	background-image: url(field-of-grass.jpg);
}
img {
	position: absolute;
}
#barn{
	z-index: 1;
	height: 200px;
	width: 200px;
	top: 250px;
	left: -30px;
}
#cow {
	z-index: 3;
	height: 80px;
	width:80px;
	top:400px;
	left:200px;
}
#pig {
	z-index: ;
}
#chicken {
	z-index: ;
	height: 60px;
	width: 60px;
	top: 600px;
	right: 200px; 
}
#rooster {
	z-index: ;
	width: 70px;
	height: 70px;
	bottom: 10px;
	right: 75px;
}
#goat {
	z-index: ;
}
#sheep {
	z-index: 3;
	left: 16px;
	top: 420px;
	height: 25px;
	width: 25px; 
}
#horse {
	z-index: 2;
	bottom: 40px;
	left:300px;
	height: 250px;
	width: 300px;
}
#farmer {
	z-index: 5;
	bottom: 30px;
	left: 500px;
	height: 180px;
	width: 180px;
}
#tractor {
	z-index: ;
	height: 35px;
	width: 35px;
	top: 430px;
	left: 650px;
}
#haybale {
	z-index: 2;
	height: 20px;
	width: 20px;
	top: 460px;
	left: 200px;
}
#plow {
	z-index: ;
}
#fence1 {
	z-index: 4;
	bottom: 30px;
	left: 490px;
	height: 100px;
	width: 200px;
}
#fence2 {
	z-index: 4;
	bottom: 30px;
	left: 300px;
	height: 100px;
	width: 200px;
}
#fence3 {
	z-index: 4;
	bottom: 30px;
	right: 370px;
	height: 100px;
	width: 200px;
}
#fence4 {
	z-index: 4;
	bottom: 30px;
	left: 680px;
	height: 100px;
	width: 200px;
}