body {
	background-image: url(field-of-grass.jpg);
}
img {
	position: absolute;
}
#barn{
	z-index: ;
	height: 500px;
	width: 500px;
	top:-20px;
	left: -90px;
}
#cow {
	z-index: ;
}
#pig {
	z-index: ;
}
#chicken {
	z-index: ;
}
#rooster {
	z-index: ;
}
#goat {
	z-index: ;
}
#sheep {
	z-index: ;
}
#horse {
	z-index: ;
}
#farmer {
	z-index: ;
}
#tractor {
	z-index: ;
}
#haybale {
	z-index: ;
}
#plow {
	z-index: ;
}
#fence {
	z-index: ;
}